@font-face {
    font-family: 'permanent_marker';
    src: url('../fonts/permanent_marker/permanentmarker-regular-webfont.woff2') format('woff2'),
        url('../fonts/permanent_marker/permanentmarker-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
