.navbar {
    background-color: transparent;
}

.navbar-brand {
    font-family: permanent_marker;
    font-size: 2em !important;
    letter-spacing: 0.2em;
    text-transform: lowercase;
}

.navbar-logo {
    height: 40px;
}

#mainNav {
    transition: background-color 0.5s ease;
}

#mainNav.navbar-header {
    background-color: initial;

    .navbar-nav {
        li.nav-item {
            a.nav-link {
                color: $white;
                border-bottom: 3px solid transparent;
            }

            a.nav-link:hover {
                border-radius: 0px;
                border-bottom: 3px solid $green;
            }
        }
    }
}

#mainNav.navbar-body {
    background-color: $white;
    border-bottom: 1px solid $gray-opaque;


    .navbar-nav {
        li.nav-item {
            a.nav-link {
                color: $black;
                border-bottom: 3px solid transparent;
            }

            a.nav-link:hover {
                border-bottom: 3px solid $green;
            }
        }
    }
}