$white: #FFF;
$black: #000;
$green: #41B14B;
$dark-green: #56975b;
$phthalo-green: #0B1F0D;
$gray: #404042;
$blue: #47475c;
$dark-grey: #424140;
$black-coffee: #453F3F;
$gray-opaque: #453f3f48;

$primary: $green;
$secondary: $dark-green;
$primary-contrast: $gray;
$secondary-contrast: $dark-grey;
$highlight: $blue;