$white: #FFF;
$black: #000;
$green: #41B14B;
$terminal-green: #4AF626;
$dark-green: #56975b;
$phthalo-green: #0B1F0D;
$gray: #404042;
$blue: #47475c;
$dark-grey: #424140;
$black-coffee: #453F3F;
$opaque-dark-gray: #453f3fc4;
$opaque-light-gray: #c5c5c5b8;

$opaque: rgba(0,0,0,0.6);

$primary: $green;
$secondary: $dark-green;
$primary-contrast: $gray;
$secondary-contrast: $dark-grey;
$highlight: $blue;